global
    log         127.0.0.1 local2
    maxconn     4000
    stats socket /var/lib/haproxy/stats

defaults
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend main
    mode tcp
    bind *:3128
    default_backend squid

backend squid
    mode tcp
    balance leastconn
    server az1-cp az1-cp:3128 check
    server az2-cp az2-cp:3128 check
    server az3-cp az3-cp:3128 check
    server m710q-2 m710q-2:3128 check
