global
    log         127.0.0.1 local2
    maxconn     4000
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend main
    bind *:3128
    default_backend squid

backend squid
    balance roundrobin
    server m710q-1 m710q-1:3128 check
    server m710q-2 m710q-2:3128 check
    server m710q-3 m710q-3:3128 check
    server m710q-4 m710q-4:3128 check
    server m715q-1 m715q-1:3128 check
