global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

listen k8s
  mode tcp
  bind 172.29.0.1:6444
  balance leastconn
  server m710q-1 10.0.1.10:6443 check
  server m710q-2 10.0.1.11:6443 check
  server m710q-3 10.0.1.12:6443 check
