[Unit]
ConditionPathExists=!/var/spool/squid/ssl_db
Before=squid.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib64/squid/security_file_certgen -c -s /var/spool/squid/ssl_db -M 4MB
[Install]
WantedBy=squid.service
